body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav li{
    z-index: 999;
    position: relative;
    transition: 0.4s;
}

nav a{
    text-decoration: none;
    color: #1f1f1f;
    margin-right: 0.5em;
}

nav .container{
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a{
    font-size: 1.2em;
    text-transform: uppercase;
}

nav .container .menu-btn{
    display: none;
}

.social-media a{
    font-size: 2em;
    z-index: -1;
}

header{
    height: 100vh;
    background: url(./nenad-novakovic-L2QB-rG5NM0-unsplash.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header h1{
    position: absolute;
    font-size: clamp(3rem, 5vw + 2rem, 7rem);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    transform: translateY(-50%);
}

.glass{
    position: absolute;
    width: 42%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba((255), 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.h-glass{
    background: url(./card-background-article.png) center no-repeat fixed;
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 30%;
    right: 0;
    animation: text1 0.8s ease-in forwards;
}

.h-regular{
    color: #fff;
    top: 40%;
    left: 42%;
    animation: text2 0.8s ease-in forwards;
    animation-delay: 500ms;
}

.glass > div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
}

.glass > div div{
    margin: 0 1em;
}

.glass p{
    color: #ccc;
    font-size: 0.9em;
    line-height: 27px;
    max-width: 27em;
}

.glass h2{
    color: #fff;
}

.glass a{
    color: #fff;
    text-decoration: none;
}

.glass a i{
    margin-left: 0.2rem;
}

.glass .fa-route{
    color: #ccc;
}

section{
    padding: 2em;
    background: rgb(226, 134, 240);
    color: #1f1f1f;
    font-size: 1.1em;
    line-height: 32px;
}

section p{
    max-width: 900px;
}

header h1{
    opacity: 0;
}

@keyframes text1{
    0%{
        opacity: 0;
        transform: translate(-2em, -50%);
    }

    100%{
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes text2{
    0%{
        opacity: 0;
        transform: translate(2em, -50%);
    }

    100%{
        opacity: 1;
        transform: translate(0, -50%);
    }
}


/* RESPONSIVE DESIGN  */

@media screen and (max-width: 900px) {

    header {
        position: relative;
    }

    nav .container{
        /* background-color: #fff; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav .menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    
    .nav-links li{
        display: block;
        margin: 0.5em 0;
    }

    .social-media li:nth-child(1){
        margin-left: 0;
    }

    .social-media{
        order: 2;
    }

    .nav-links{
        order: 1;
        padding-top: 1em;
    }

    nav .container .menu-btn{
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }

    nav .container .nav-toggle{
        height: 15em;
    }

    .nav-background{
        background: #fff;
    }

    .h-regular{
        left: 35%;
    }
}

@media screen and  (max-width: 750px)  {
    .glass{
        width: 90%;
        height: initial;
        min-height: 30em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;  
    }

    .h-glass{
        left: 15%;
        top: 10%;
        color: #1f1f1f;
        background-attachment: initial;
        background-size: 100% 130%;
    }

    .h-regular{
        top: 35%;
    }

    nav .container .menu-btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .glass > div{
        margin-top: 4em;
    }

}

@media screen and (max-width: 700px)  {
    header{
        height: 700px;
    }
}

@media screen and  (max-width: 500px){
    .glass > div div:nth-child(1){
        display: none;
    }
} 